<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.elmepaunivapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Δ.Ε.Τ\n(Αγ.Νικόλαος)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.syllabus_lessons.SyllabusLessonsActivity" />
        <activity android:name=".ui.webview.WebviewActivity" />
        <activity android:name=".ui.chatbot.ChatBotActivity" />
        <activity android:name=".ui.syllabus.SyllabusActivity" />
        <activity android:name=".ui.research.ResearchActivity" />
        <activity android:name=".ui.professors.ProfessorActivity" />
        <activity android:name=".ui.students.StudentsActivity" />
        <activity android:name=".ui.department.DepartmentActivity" />
        <activity android:name=".ui.announcements.AnnouncementsActivity" />
        <activity android:name=".ui.dashboard.DashboardActivityKt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>