<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.elmepaunivapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Δ.Ε.Τ\n(Αγ.Νικόλαος)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnnouncementMoreInfo"></activity>
        <activity android:name=".PhdProg" />
        <activity android:name=".UndergraduateProg" />
        <activity android:name=".PostgraduateProg" />
        <activity android:name=".PlaceholderClass" />
        <activity android:name=".Professors" />
        <activity android:name=".Students" />
        <activity android:name=".Contact" />
        <activity android:name=".Department" />
        <activity android:name=".Announcements" />
        <activity android:name=".Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>